{% load static %}
<div class="section_5 container py-5">
    <div class="d-flex justify-content-lg-center pb-5">
        <a href="{% url 'home-p' %}" class="text-lg-center">
            <img src="{% static 'main/img/For_Web_3/svg/White logo - no background.svg' %}" class="w-25 opacity_img" alt="">
        </a>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 justify-content-center">
        <div class="col-lg-3">
            <div class="card h-100 border-0 text-start" style="background: none;">
                <h5 class="card-title fs-4 fs-md-2 fw-light font_fv mb-2 mb-lg-4 text-white">Location</h5>
                <p class="card-text text-white font_fp lh-base ">2044 W Belmont</p>
                <p class="card-text text-white font_fp lh-base ">Chicago, Illinois 60618</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 border-0 text-start" style="background: none;">
                <h5 class="card-title fs-4 fs-md-2 fw-light font_fv mb-2 mb-lg-4 text-white">Hours</h5>
                <p class="card-text text-white font_fp lh-base">Monday - Friday</p>
                <p class="card-text text-white font_fp lh-base">7:00 a.m - 6:00 p.m.</p>
                <p class="card-text text-white font_fp lh-base">Except on holidays and breaks</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 border-0 text-start pt-3 pt-lg-0" style="background: none;">
                <h5 class="card-title fs-4 fs-md-2 fw-light font_fv mb-2 mb-lg-4 text-white">Contact</h5>
                <p class="card-text text-white font_fp lh-base"><a href="mailto:info@kandypreschoolchicago.com"
                                                                   class="text_dn">info@kandypreschoolchicago.com</a>
                </p>
                <p class="card-text text-white font_fp lh-base"><a href="tel:+773-281-4411" class="text_dn">Phone:
                    773-281-4411</a></p>
                <p class="card-text text-white font_fp lh-base"><a href="tel:+773-281-4412" class="text_dn">Fax:
                    773-281-4412</a></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 border-0 text-start pt-3 pt-lg-0" style="background: none;">
                <h5 class="card-title text-white fs-4 fs-md-2 fw-light font_fv mb-2 mb-lg-4">Follow</h5>
                <p class="card-text text-white font_fp lh-base">Follow our news, updates and activities on:</p>
                <div class="row row-cols-1 row-cols-4">
                    <div class="col-2">
                        <i class="fa-brands fa-facebook-f text-white text_dn"></i>
                    </div>
                    <div class="col-2">
                        <i class="fa-brands fa-x-twitter text-white text_dn"></i>
                    </div>
                    <div class="col-2">
                        <i class="fa-brands fa-instagram text-white text_dn"></i>
                    </div>
                    <div class="col-2">
                        <i class="fa-brands text-white text_dn fa-telegram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
