{% extends 'layouts/base.html' %}
{% load static %}



{% block header_div %}


    <div class="h_second a_second d-flex justify-content-center align-items-center" id="second">
        <h2 class="fs-1 font_fv text-white text-center">We believe that children are born eager and ready to learn!</h2>
    </div>


{% endblock header_div %}



{% block body %}


    <section class="a_section_1 px-lg-5" id="about">
        <div class="asection_1 py-5 px-lg-5 my-5 text-center container">
            <div class="">
                <div class="d-lg-flex justify-content-center pb-5 ">
                    <div class="col-lg-5">
                        <img src="{% static 'main/img/unsplash-image-VAJEea9u6k8.jpg' %}" class="img-fluid opacity_img" alt="...">
                    </div>
                    <div class="card-body text-start ps-lg-5">
                        <h3 class="card-title fs-2 fw-lighter font_fv mb-4" style="color: rgb(0, 77, 107);">Mission</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-5">Kandy Preschool is committed to
                            providing a program that focuses on the development of young children by creating enriching
                            learning experiences through exploration, discovery and hands-on activities.</p>
                    </div>
                </div>
                <div class="d-lg-flex pb-5">
                    <div class="col-lg-5">
                        <img src="{% static 'main/img/unsplash-image-KuCGlBXjH_o.jpg' %}" class="img-fluid rounded-3 opacity_img"
                             alt="...">
                    </div>
                    <div class="card-body text-start ps-lg-5">
                        <h3 class="card-title fs-2 fw-light font_fv mb-4" style="color: rgb(0, 77, 107);">
                            Philosophy</h3>
                        <p class="card-text font_style_g  font_fp lh-base fs-5">TSP believes children are born eager and
                            ready to learn! As educators, it is our responsibility to foster that learning by providing
                            children with the opportunities that will allow them to create their own meanings to the
                            world around them. We understand that it is not only important for children to develop the
                            basic skills that will be the foundation for future learning, but they receive care from
                            teachers who have a genuine love for children. TSP strives to provide exceptional care in a
                            safe and nurturing environment, create an enriching learning experience for each child and
                            seek out the most compassionate and qualified staff to care for your child.</p>
                    </div>
                </div>
                <div class="d-lg-flex">
                    <div class="col-lg-5">
                        <img src="{% static 'main/img/unsplash-image-bC7zaV3j7S4.jpg' %}" class="img-fluid rounded-3 opacity_img"
                             alt="...">
                    </div>
                    <div class="card-body text-start ps-lg-5">
                        <h3 class="card-title fs-2 fw-light font_fv mb-4" style="color: rgb(0, 77, 107);">Goals</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-5">At Kandy Preschool the goals
                            for children in our program are for them to:</p>
                        <ul class="text-start">
                            <li>
                                <p class="card-text font_style_g font_fp lh-base fs-5">Be active and engaged
                                    learners.</p>
                            </li>
                            <li>
                                <p class="card-text font_style_g font_fp lh-base fs-5">Feel safe & secure when parents
                                    leave.</p>
                            </li>
                            <li>
                                <p class="card-text font_style_g font_fp lh-base fs-5">Develop positive relationships,
                                    self-confidence and independence.</p>
                            </li>
                            <li>
                                <p class="card-text font_style_g font_fp lh-base fs-5">Appreciate cultural
                                    diversity.</p>
                            </li>
                            <li>
                                <p class="card-text font_style_g font_fp lh-base fs-5">Have fun while learning!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="a_section_2 h_section_2 py-4 py-md-5 p-3 p-md-0">
        <div class="asection_2 container">
            <h3 class="fs-2 font_fv font_style_g text-center pb-4 m-0">Look how fun learning is at Kandy
                Pre-school!</h3>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 justify-content-lg-between">
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_art_class.jpg' %}"
                         class="card-img-top rounded-0 opacity_img"
                         alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_cards.jpg' %}" class="card-img-top rounded-0 opacity_img"
                         alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_dancing.jpg' %}"
                         class="card-img-top rounded-0 opacity_img" alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_garden.jpg' %}" class="card-img-top rounded-0 opacity_img"
                         alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_holding_apple.jpg' %}"
                         class="card-img-top rounded-0 opacity_img"
                         alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_playground.jpg' %}"
                         class="card-img-top rounded-0 opacity_img"
                         alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_playing_in_leaves.jpg' %}"
                         class="card-img-top rounded-0 opacity_img"
                         alt="...">
                </div>
                <div class="col-lg-3 p-0">
                    <img src="{% static 'main/img/TSD_gallery_teacher_helping_child.jpg' %}"
                         class="card-img-top rounded-0 opacity_img" alt="...">
                </div>
            </div>
        </div>
    </section>

    <section class="a_section_4">
        <div class="asection_4 container py-5">
            <div class="row row-cols-1 justify-content-center">
                <div class="col-sm-7 align-self-center">
                    <div class="card h-100 border-0 sec4_" style="background: none;">
                        <img src="{% static 'main/img/TSD_icon_contact.png' %}"
                             class="card-img-top rounded-3 w-25 m-auto opacity_img" alt="...">
                        <div class="card-body p-0 p-sm-3">
                            <h5 class="card-title text-center fs-2 fw-light font_fv mb-4"
                                style="color: rgb(0, 77, 107);">Ready to join a learning adventure?</h5>
                            <p class="card-text font_style_g text-center font_fp lh-base fs-5">If you are interested in
                                learning more about our program or how to enroll, please click on the button below to
                                fill out our questionnaire and we will get back to you as soon as possible!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h_button d-flex justify-content-center pt-3">
                <a href="{% url 'contact-p' %}" class="text_dn1">
                    <button class="btn btn-primary px-3 py-3 px-sm-5 py-sm-4 mt-2 back_style_g font_fp fw-bold fs-6 border-0"
                            style="padding-top: 20px;padding-bottom: 20px;letter-spacing: 3px; border-radius:8px;">
                        CONTACT US
                    </button>
                </a>
            </div>
        </div>
    </section>


{% endblock body %}
