{% extends 'layouts/base.html' %}
{% load static %}



{% block header_div %}


    <div class="h_second p_second d-flex justify-content-center align-items-center" id="second">
        <h2 class=" fs-1 font_fv text-white text-center">A place where a child can play, explore and learn!</h2>
    </div>


{% endblock header_div %}



{% block body %}


    <section class="p_section_1 px-lg-5">
        <div class="psection_1 py-5 px-lg-5 my-5 container">
            <div class="row row-cols-1 row-cols-lg-2 g-4 gx-4">
                <div class="d-flex pb-5 col">
                    <div class="col-2">
                        <img src="{% static 'main/img/i_blocks.jpeg' %}" class="img-fluid w-75" alt="...">
                    </div>
                    <div class="col-10 text-sm-start ps-sm-5 pt-3">
                        <h3 class="card-title fs-5 fs-lg-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">
                            Curriculum</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-lg-6">Curriculum TSP uses a professionally
                            designed curriculum that has both challenged and stimulated the minds of our young children.
                            Each month, our curriculum focuses on a different theme and includes lessons, activities and
                            projects related to that particular theme. Parents are provided monthly newsletters that
                            inform them of all the exciting things their child will be learning about that month.</p>
                    </div>
                </div>
                <div class="d-flex pb-5 col">
                    <div class="col-2">
                        <img src="{% static 'main/img/i_colored_pencils.png' %}" class="img-fluid w-75" alt="...">
                    </div>
                    <div class="col-10 text-start ps-sm-5 pt-3">
                        <h3 class="card-title fs-5 fs-lg-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">
                            Enrichment Classes</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-lg-6">
                            Enrichment Classes
                            Kandy Preschool offers a variety of enrichment classes to expand children’s minds
                            & physical development. At TSP, your child will participate in Spanish, music, dance and art
                            classes that meet once at week at our center.</p>
                    </div>
                </div>
                <div class="d-flex pb-5 col">
                    <div class="col-2">
                        <img src="{% static 'main/img/i_seesaw.png' %}" class="img-fluid w-75" alt="...">
                    </div>
                    <div class="col-10 text-start ps-sm-5 pt-3">
                        <h3 class="card-title fs-5 fs-lg-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">
                            Outside the Classroom</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-lg-6">
                            Outside the Classroom
                            We feel it is important for children to see that learning can occur outside of their regular
                            classroom. Fieldtrips and other extracurricular activities will compliment a particular
                            theme that is being discussed in the classroom. Our goal is for all fieldtrips and
                            extracurricular activities to be educational and fun. We also have the privilege of using
                            the beautiful Fellger and Hamlin Parks for our outdoor education. Children have plenty of
                            room to run and play and exert all that energy their little bodies build up throughout the
                            day.</p>
                    </div>
                </div>
                <div class="d-flex pb-5 col">
                    <div class="col-2">
                        <img src="{% static 'main/img/i_puzzle.png' %}" class="img-fluid w-75" alt="...">
                    </div>
                    <div class="col-10 text-start ps-sm-5 pt-3">
                        <h3 class="card-title fs-5 fs-lg-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">
                            School App</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-lg-6">
                            School App
                            TSP uses a mobile app to communicate with parents throughout the day. Staff can share
                            moments digitally and capture memorable moments with parents.
                            Our app is an easy way to communicate with families by sending notes, reminders and messages
                            from within the child care app.</p>
                    </div>
                </div>
                <div class="d-flex pb-5 col">
                    <div class="col-2">
                        <img src="{% static 'main/img/i_story_books.png' %}" class="img-fluid w-75" alt="...">
                    </div>
                    <div class="col-10 text-start ps-sm-5 pt-3">
                        <h3 class="card-title fs-5 fs-lg-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">
                            Highly Qualified Staff</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-lg-6">Our Lead Teachers at Kandy
                            Preschool have earned at least an Associate’s Degree in Early Childhood or a related field.
                            All staff are trained in First Aid and CPR and have obtained a food handlers
                            certificate. </p>
                    </div>
                </div>
                <div class="d-flex pb-5 col">
                    <div class="col-2">
                        <img src="{% static 'main/img/i_food.png' %}" class="img-fluid w-75" alt="...">
                    </div>
                    <div class="col-10 text-start ps-sm-5 pt-3">
                        <h3 class="card-title fs-5 fs-lg-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">
                            Healthy Meals and Snacks</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-lg-6">We use a local, farm to table, organic
                            catering company to serve our students breakfast, lunch and an afternoon snack. All food
                            served is peanut free. We provide parents with menus so they can see all the yummy things
                            their child will get to eat. Our catering company also provides alternative meal options to
                            meet the needs of any dietary restriction any child may have. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p_section_2 back_style_b">
        <div class="psection_2_1 py-5 container d-lg-flex">
            <div class="col-4 d-none  d-lg-flex justify-content-center">
                <img src="{% static 'main/img/TSD_image_toddler.jpg' %}" class="img-fluid py-5" alt="...">
            </div>
            <div class="col text-start ps-lg-5">
                <h1 class="fw-lighter font_fv mb-4 text-white">Toddler classroom</h1>
                <ul class="text-start">
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">For ages 15 months to 24
                            months</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">Mother Goose Time curriculum:
                            Experience Toddler</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">Classroom ratio is 1:5</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">Part and full-time enrollment
                            options available</p>
                    </li>
                </ul>
                <h2 class="text-white font_fp lh-base fs-3">Helpful resources to download:</h2>
                <div class="h_button row row-cols-1 row-cols-sm-2 row-cols-xxl-3 g-4 pt-3 justify-content-center justify-content-sm-between">
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cb7b170873569cfb07d30/1648146353785/Toddler+Classroom+Description.pdf"
                           target="_blank" class="text_dn1">
                            <button class="btn font_style_b bg-white mt-2 w-100 w-lg-50 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">CLASS DESCRIPTION
                            </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cbe2751623358d2877f9c/1648148007686/Toddler+Daily+Schedule+2021.pdf"
                           target="_blank" class="text_dn1">
                            <button class="btn font_style_b bg-white mt-2 w-100 w-lg-50 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">DAILY SCHEDULE
                            </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cbe0bc33de54bbf044f56/1648147979606/Toddler+Classroom+Enrichment+Schedule.pdf"
                           target="_blank" class="text_dn1">
                            <button class="btn font_style_b bg-white mt-2 w-100 w-lg-50 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">ENRICHMENT CALENDAR
                            </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/624367cea8d1a25517ea6fcf/1648584656760/Toddler+Curriculum+Info.pdf"
                           target="_blank" class="text_dn1">
                            <button class="btn font_style_b bg-white mt-2 w-100 w-lg-50 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">CURRICULUM
                            </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cbe5f70ea5769369c5316/1648148068444/Toddler+Monthly+Activity+Calendar.pdf"
                           target="_blank" class="text_dn1">
                            <button class="btn font_style_b bg-white mt-2 w-100 w-lg-50 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">ACTIVITY CALENDAR
                            </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/624369376c85cb2c8286f789/1648585016065/April+Toddler+Newsletter.pdf"
                           target="_blank" class="text_dn1">
                            <button class="btn font_style_b bg-white mt-2 w-100 w-lg-50 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">FAMILY NEWSLETTER
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p_section_2 back_style_gr">
        <div class="psection_2_2 py-5 container d-flex">
            <div class="col text-start pe-lg-5">
                <h1 class="fw-lighter font_fv mb-4 text-white">Toddler classroom</h1>
                <ul class="text-start">
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-lg-5 text-white">For ages 15 months to 24
                            months</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-lg-5 text-white">Mother Goose Time curriculum:
                            Experience Toddler</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-lg-5 text-white">Classroom ratio is 1:5</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-lg-5 text-white">Part and full-time enrollment
                            options available</p>
                    </li>
                </ul>
                <h2 class="text-white font_fp lh-base fs-3">Helpful resources to download:</h2>
                <div class="h_button row row-cols-1 row-cols-sm-2 row-cols-xxl-3 g-4 pt-3 justify-content-center justify-content-sm-between">
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc03a1f7de71e92a5a271/1648148538306/2%263s+Classroom+Description.pdf" target="_blank" class="text_dn1">
                            <button class="btn font_style_gr bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                    style="border-radius:8px;">CLASS DESCRIPTION
                            </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc05fc33de54bbf04aabe/1648148576051/2%263s+Daily+Schedule+2021.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_gr bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">DAILY SCHEDULE
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc04c6a7d4416d42079b4/1648148559109/2%263s+Classroom+Enrichment+Schedule.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_gr bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">ENRICHMENT CALENDAR
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/624366d0e9a4243a68065020/1648584402147/2%263s+Curriculum+Info.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_gr bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">CURRICULUM
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc091c6f92a208bab1bcf/1648148628892/2%263s+Monthly+Activity+Calendar.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_gr bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">ACTIVITY CALENDAR
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/6243660f2a39e17c49613fcb/1648584209919/Sample+Family+Newsletter-+MGT.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_gr bg-white  mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">FAMILY NEWSLETTER
                        </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-lg-flex justify-content-center">
                <img src="{% static 'main/img/TSD_image_3s (1).jpg' %}" class="img-fluid py-5" alt="...">
            </div>
        </div>
    </section>

    <section class="p_section_2 back_style_g">
        <div class="psection_2_3 py-5 container d-flex">
            <div class="col-4 d-none d-lg-flex justify-content-center">
                <img src="{% static "main/img/TSD_image_preschool.jpg" %}" class="img-fluid py-5" alt="...">
            </div>
            <div class="col text-start ps-lg-5">
                <h1 class="fw-lighter font_fv mb-4 text-white">Toddler classroom</h1>
                <ul class="text-start">
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">For ages 15 months to 24
                            months</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">Mother Goose Time curriculum:
                            Experience Toddler</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">Classroom ratio is 1:5</p>
                    </li>
                    <li>
                        <p class="font_style_g font_fp lh-base fs-6 fs-sm-5 text-white">Part and full-time enrollment
                            options available</p>
                    </li>
                </ul>
                <h2 class="text-white font_fp lh-base fs-lg-3">Helpful resources to download:</h2>
                <div class="h_button row row-cols-1 row-cols-sm-2 row-cols-xxl-3 g-4 pt-3 justify-content-center justify-content-sm-between">
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc14fd967567d6c9455be/1648148815326/Preschool+Classroom+Description.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_r bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">CLASS DESCRIPTION
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc17686b02c299daad4cd/1648148854873/Preschool+Daily+Schedule+2021.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_r bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">DAILY SCHEDULE
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc163e055243be8eeb8c3/1648148835681/Preschool+Classroom+Enrichment+Schedule.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_r bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">ENRICHMENT CALENDAR
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/624365c548418a6cbb9b7b9b/1648584134645/Preschool+Curriculum+Info.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_r bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">CURRICULUM
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/623cc187d967567d6c945b0c/1648148874720/Preschool+Monthly+Activity+Calendar.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_r bg-white mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">ACTIVITY CALENDAR
                        </button>
                        </a>
                    </div>
                    <div class="col-10 col-sm-5 col-xxl-4">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/6243660f2a39e17c49613fcb/1648584209919/Sample+Family+Newsletter-+MGT.pdf" target="_blank" class="text_dn1">
                        <button class="btn font_style_r bg-white  mt-2 w-100 btn_b py-3 font_fp fw-bold fs-6 border-0"
                                style="border-radius:8px;">FAMILY NEWSLETTER
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p_section_3">
        <div class="psection_3 py-lg-5 container p-4">
            <div class="text-center mb-lg-5 mb-3">
                <h1 class="card-title fw-lighter font_fv mb-4 font_style_b">Additional resources</h1>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 g-3 justify-content-lg-between">
                <div class="col-lg-3 text-center p-3 p-lg-4 h_section_2">
                    <h5 class="card-title font_style_g fw-lighter font_fv mb-4 fs-lg-2 fs-3">Monthly themes</h5>
                    <p class="font_style_g font_fp lh-base fs-lg-5 fs-6 m-0 mx-4">Every month Kandy has a new
                        and exciting theme for kids to learn about! Everything from health & fitness to the zoo, we’ve
                        got it covered.</p>
                    <div class="h_button d-flex justify-content-center pt-lg-3 pt-2">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/64db8390c59bdb76f4f25fd0/1692107664709/2023-2024+Experience+Early+Learning+Themes.pdf"
                           class="text_dn1" target="_blank">
                            <button class="btn btn-primary px-4 px-lg-5 py-2 py-lg-3 mt-2 back_style_g font_fp fw-bold fs-6 border-0"
                                    style="letter-spacing: 3px; border-radius:8px;">SEE THEMES
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 text-center p-3 p-lg-4 h_section_2">
                    <h5 class="card-title font_style_g fw-lighter font_fv mb-4 fs-lg-2 fs-3">Yearly calendar</h5>
                    <p class="font_style_g font_fp lh-base fs-lg-5 fs-6 m-0 mx-5">Want to see all the exciting
                        activities and events we have planned? Check out the latest Kandy calendar to stay
                        up-to-date.</p>
                    <div class="h_button d-flex justify-content-center pt-lg-3 pt-2">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/64db834e9a5a6f7b72351527/1692107598939/2023-2024+TSP+School+Calendar.pdf"
                           class="text_dn1" target="_blank">
                            <button class="btn btn-primary px-4 px-lg-5 py-2 py-lg-3 mt-2 back_style_g font_fp fw-bold fs-6 border-0"
                                    style="letter-spacing: 3px; border-radius:8px;">SEE CALENDAR
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 text-center p-3 p-lg-4 h_section_2">
                    <h5 class="card-title font_style_g fw-lighter font_fv mb-4 fs-lg-2 fs-3">Daily menu</h5>
                    <p class="font_style_g font_fp lh-base fs-lg-5 fs-6 m-0 mx-5">Our breakfast, lunch and snack menu
                        are provided by Healthy Organic Kids Catering and includes local, fresh and delicious food
                        options.</p>
                    <div class="h_button d-flex justify-content-center pt-lg-3 pt-2">
                        <a href="https://static1.squarespace.com/static/623b745f99da7f6d050e59e5/t/62436213c38cd9574000bea9/1648583188050/Twinkling_stars_daily_menu.pdf"
                           class="text_dn1" target="_blank">
                            <button class="btn btn-primary px-4 px-lg-5 py-2 py-lg-3 mt-23 back_style_g font_fp fw-bold fs-6 border-0"
                                    style="letter-spacing: 3px; border-radius:8px;">SEE MENU
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock body %}