{% extends 'layouts/base.html' %}
{% load static %}



{% block header_div %}


    <div class="h_second t_second d-flex justify-content-center align-items-center" id="second">
        <h2 class=" fs-1 font_fv text-white text-center">Get to know our talented team</h2>
    </div>


{% endblock header_div %}



{% block body %}


    <section class="t_section_1 px-md-5">
        <div class="tsection_1 py-5 px-md-5 my-5 text-center container">
            <div class="">
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Hall_+Pam.jpg' %}" class="img-fluid opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-lighter font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Pam,
                            Owner and Executive Director <br> Team member since 2010</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hi! My name is Pam Hall and I am
                            the owner and Executive Director of Twinkling Stars Preschool. I opened TSP’s Preschool
                            Classroom in 2010 and added the Toddler and 2/3s Classrooms in 2018. We have loved being a
                            part of the Roscoe Village community!

                            Being the oldest of 5, my love for working with children started at a very young age. From
                            helping my mom with my siblings, to babysitting children in my neighborhood to ultimately my
                            career as teacher; my passion has always been, and will forever be, caring for and teaching
                            little ones.

                            I earned my B.S. in Elementary Education from Northern Illinois University and hold a
                            current Professional Educator’s License. Prior to opening TSP, I taught at a private academy
                            in downtown Chicago, was an assistant teacher in the Tuition-Based Preschool Program at
                            Audubon Elementary School and substitute taught for multiple CPS schools.

                            My husband and I have 3 children and 2 dogs. I love my job, the teachers with whom I work
                            and all the families who have let me be a part of their lives! Thank you for making my
                            dreams come true!
                        </p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Jurkovic_+Calli.jpg' %}" class="img-fluid opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Calli,
                            Director <br> Team member since 2012</h3>
                        <p class="card-text font_style_g  font_fp lh-base fs-md-5 fs-6">My name is Calli and I have been
                            working at Twinkling Stars Preschool since January 2012. I have my Bachelor’s degree from
                            DePaul University in Elementary Education with a minor in Psychology. I am currently working
                            on a continuing education certificate in Early Childhood Education and a Master’s in
                            Curriculum and Instruction from National Louis University.

                            My passion for working with children started at a young age by having three younger siblings
                            and helping my mom with her home daycare. I continued to work with children through
                            babysitting, tutoring and coaching until entering college, where teaching ultimately became
                            my career choice. It has been a great experience teaching at Twinkling Stars and I am
                            excited for the future as our program grows.
                        </p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/jlt+headshot.jpg' %}" class="img-fluid opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Julia,
                            Assistant Director <br> Team member since 2023</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hi! I’m Ms. Julia. I am so
                            excited to be joining Twinkling Stars Preschool as an Assistant Director. I have a Bachelors
                            in Theatre Directing from Illinois State University, an Advanced Certification in Early
                            Childhood Education from Truman College, and director credentials from National Louis
                            University. I’m an eco-conscious educator and I hope to bring some eco-friendly practices to
                            TSP! I love working with children. They’re so funny! My philosophy is to foster independence
                            and empathy in children as they learn and grow. In my spare time, I perform theatre and
                            comedy, do crossword puzzles, and spend time with my two cats, Poppy and Midge. I can’t wait
                            to get to know you all!
                        </p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Ramirez_+Fátima.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Fatima,
                            Lead Preschool Teacher <br> Team member since 2021</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">!Hola! Me llamo Fátima and I am
                            from sunny southern California. I have lived in Illinois for about 6 years now. As a child,
                            one of my dreams was to become a teacher and I am happy I made my dream come true. I have a
                            BA in Liberal Studies and a MA in special education. Prior to working in early education, I
                            worked with children of all ages in the K-12 setting. Growing up, I was fascinated to learn
                            more about the mind of the child. The psychology and the way the brain works intrigues me.
                            Studies show that ages 0-5 are the most crucial to set a child with healthy habits to set
                            them up for success. In my classroom, it is important to help children develop critical
                            thinking skills and the confidence in themselves to grow in their independence. I can’t wait
                            to welcome you to our awesome class! Are you ready?</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static "main/img/Clinton_+Jolisha.jpg" %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Jolisha,
                            Assistant Preschool Teacher <br> Team member since 2021</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello, my name is Jolisha. I
                            began my passion for childcare services at a very young age. I then started my career in
                            childhood development throughout high school and college. I have worked with a variety of
                            all age groups and what I love most is seeing children grow and develop while also having
                            fun! Being here is not just a job, but a second home for me! I’m excited to start my journey
                            at TSP!</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Diaz_+Lizzette.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Lizz,
                            Lead 2/3s Teacher <br> Team member since 2018</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello! I'm Miss Lizz and I
                            started working at TSP in August 2018. I am the Lead teacher in the 2/3s Classroom. I was
                            born and raised in Dallas, Texas and moved to Chicago in 2015. I've worked in childcare for
                            about 8 years and have worked with ages ranging from 6 weeks to 12 years old. My favorite
                            children’s books are by Dr. Seuss and Pete the Cat series. I have a High School diploma and
                            have continued my education through trainings in early childhood. I am currently working
                            towards my Associate’s Degree in Early Childhood Education!</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Gonzalez_+mVanessa.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Vanessa,
                            Assistant 2/3s Teacher <br> Team member since 2019</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello, I’m Ms. Vanessa. I was
                            born in Chicago and went to Thomas Kelly High School. I started working with little ones
                            when I was 15 years old and started at Twinkling Stars in 2019. I am a very friendly and
                            humble person to be around! I enjoy drawing and reading to children. I also have a daughter.
                            A favorite quote of mine is “Stay patient and trust your journey.”</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Lovick_+Lacy.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Lacy,
                            Lead Toddler Teacher <br> Team member since 2019</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hi! I’ve been working with kids
                            over half my life. Although I graduated Northeastern Illinois University with a Bachelors
                            degree in Communications, Media, and Theatre, working with kids has always been one of my
                            greatest passions. I have worked with children of all ages and even had an opportunity to
                            provide care for an elderly woman. I’m an adventure-loving, happy, fun-loving person and
                            working with all the wonderful kiddos at TSP has been one of my most fun life
                            experiences!</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Miss+Erika+2.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Erika,
                            Assistant Toddler Teacher <br> Team member since 2022</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello, I’m Miss Erika. I am the
                            new center assistant to the TSP family. I have my Associate's Degree in Arts and completed a
                            social work course, as well as child development. I plan to further my education in
                            psychology. While attending college, I was babysitting infants to 7/8-year-olds. Playing,
                            reading and doing activities are no stranger to me. I also have a toddler and taking her on
                            walks, to swim lessons, and dancing is such a fun time! I enjoy working with children with
                            different, mini, yet big, personalities and watching them grow.</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Anaya.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Anaya,
                            Center Assistant <br> Team member since 2023</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello, I am Miss Anaya. I was
                            born and raised in Chicago and attended Johnson College Prep High School. I started working
                            with kids as early as 14 years of age and began working at TSP in February of 2023. I am a
                            very outgoing person. I enjoy working with kids because of the experience and opportunities
                            that come out of it. I plan to further my education in Child Development and make a lifetime
                            career out of it!</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Eva.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Eva,
                            Center Assistant <br> Team member since 2023</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello, my name is Miss Eva. I am
                            excited to join TSP as a Center Assistant! I was born and raised in the Heart of Chicago. My
                            interest in childcare began at a very young age as I often helped my family. I went to
                            Benito Juarez High School and was in the CTE Medical Program. I am now in school majoring in
                            Child Development, Preschool Education to become a teacher. I am often in all classrooms so
                            you will see me around. I look forward to meeting all of you!</p>
                    </div>
                </div>
                <div class="d-md-flex pb-5">
                    <div class="col-md-3 pb-2 pb-md-0">
                        <img src="{% static 'main/img/Miah.jpg' %}" class="img-fluid rounded-3 opacity_img" alt="...">
                    </div>
                    <div class="col-md-8 text-md-start ps-md-5 text-center">
                        <h3 class="card-title fs-4 fw-light font_fv mb-4" style="color: rgb(220, 80, 4);">Miss Miah,
                            Center Assistant <br> Team member since 2023</h3>
                        <p class="card-text font_style_g font_fp lh-base fs-md-5 fs-6">Hello my name is Miss Miah! I’m a
                            mom of two children, a boy and a girl. I was born and raised in Chicago. I enjoy helping
                            people and being around children. I enjoy watching the children grow and learn new things
                            daily. I love watching Disney movies with my kids, especially Mulan. I am so excited to work
                            at TSP to help the children learn and grow!</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


{% endblock body %}
